@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
pre,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior:smooth;
}
*{
  scroll-behavior:smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #11071f;
  color: white;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  } */



.f-11 {
  font-size: 11px;
}

span {
  color:#bc7bff;
  font-family: "Poppins", sans-serif;
}

nav {
  /* margin: 0 20%; */
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  animation: animate-nav 0.7s ease-in 0.2s;
}
.nav-content ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-content ul li a:hover{
    text-decoration: underline;
}

.nav-container {
  display: flex;
  background-color: #1a0b2e;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.nav-content ul {
  display: flex;
  gap: 10rem;
  justify-content: space-evenly;
}
.nav-content ul li {
  list-style: none;
  color: #fff;
}

.main-container {
  margin: 0 20%;
  position: relative;
}

.intro {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 8rem;
  top: -4rem;
  animation: animate2 0.7s 0.2s;
}
.name {
  margin-bottom: 3rem;
}
.intro img {
  height: 90px;
  width: 90px;
  display: flex;
}

.intro-main {
  display: flex;

  font-family: "Poppins", sans-serif;
  font-size: 17px;
  flex-direction: column;
}
.myself {
  display: flex;
  align-items: left;
  animation: animate-on-load 0.7s 0.2s;
}
.intro-main .me {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}
.intro-main h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.circle {
  position: absolute;
  bottom: 101px;
  left: 145px;
}
.intro-para {
  position: relative;
}
.intro-para p {
  font-size: 12px;
}

.sub-intro {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-top: 10rem;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
}
.section-1,.section-2 {
  margin-top: 13rem;
  
  
}

.current-work {
  font-size: 21px;
  margin-bottom: 5rem;
}

.work-p {
  font-weight: 400;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 44px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 17px;
  column-gap: 22px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

.grid-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(
    110.49deg,
    #130428 19.95%,
    #251043 67.64%,
    #38126d 107.08%,
    #261045 156.61%,
    #190634 183.21%
  );
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 1rem;
  border-top: 4px solid #693b93;
}

.card-text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
}
.card-text2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
}
.grid-btn {
  margin-top: 8px;
  background: #2c1250;
  border: 1px solid #693b93;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  padding: 10px 23px;
}

.svgtreem{
  display: none;
}

.skills {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills p {
  text-align: center;
}

.skills p:nth-child(1) {
  margin-top: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.skills p:nth-child(2) {
  margin-bottom: 5rem;
}

.projects {
  padding: 20% 20%;
  background: radial-gradient(
      20% 20% at 53% 31%,
      #763cac 0%,
      rgba(50, 15, 133, 0) 100%
    ),
    radial-gradient(20% 20% at 78% 27%, #763cac 0%, rgba(50, 15, 133, 0) 100%),
    radial-gradient(20% 20% at 25% 56%, #763cac 0%, rgba(50, 15, 133, 0) 100%);
}

.my-projects {
  display: flex;
  position: relative;
  margin-bottom: 13rem;
}
.my-projects2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 13rem;
}

.project-left {
  flex: 1;
  z-index: 20;
}
.project-left2 {
  flex: 1;
  z-index: 20;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  align-items: end;
}
.project-left span {
  font-size: 16px;
}
.project-left p {
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 30px;
}
.project-left2 span {
  font-size: 16px;
}
.project-left2 p {
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 30px;
}

.project-left2:has(span, p) {
  text-align: end;
}

.project-right {
  flex: 1;
  background: #2b0b3a;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  border-radius: 10px;
}
.project-right2 {
  flex: 1;
  background: #2b0b3a;
  display: flex;
  align-items: end;
  border-radius: 10px;
}
.wrapper {
  height: 95%;
  width: 95%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card {
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(101, 90, 145, 2.7) 0%,
    rgba(100, 92, 144, 0.3) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  padding: 31px 45px;
  backdrop-filter: blur(40px);
  border-radius: 14px;
  width: 120%;
  text-align: left;
  word-break: break-all;
}

.card p {
  font-weight: 500;
  font-size: 18px;
}
.click-img {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.click-img2 {
  justify-content: end;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}


.contact{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.contact p:nth-child(1){
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px
}
.contact p:nth-child(2){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.contact p:nth-child(3){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.social{
    margin-top:1rem ;
    display: flex;
    gap: 2.5rem;
}
#contacts{
  scroll-padding-top: 50rem;


}

@media screen and (max-width:1200px) {
 

.intro-para{
  margin-top:1rem;
}

  
  .click-img, .click-img2{
    display: none;
  }
.circle{
  bottom: 87px;
}
  
.main-container{
  margin: 0 10%;
}
.my-projects{
  flex-direction: column;
}
.my-projects2{
  flex-direction: column;
}
.project-left,.project-left2{
  text-align: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card{
  width: 100%;
  margin-bottom: 2rem;
}
  
}
@media screen and (max-width:768px) {
  
  .nav-content ul {
    gap: 3rem;
  }
  .svgtreem{
    display:block;
  }
  .svgtree{
    display: none;
  }
 
  .intro-main h1 {
  font-size: 30px;
  }

  .myself{
    flex-direction: column;
  }
  .myself img{
    max-width: 45%;
  }
  .sub-intro{
    margin-top: 5rem;
  }
  .about-para{
    font-size: 16px;
  }
  .skills{
    margin-top: 2rem;
  }
  .skills p:nth-child(1) {
    margin-top: 2rem;
  }
  .current-work{
    margin-bottom: 2rem;
  }
  .circle{
    display: none;
  }
  .section-2{
    margin-top: 5rem;
    
  }
  .projects{
    padding: 5%;
  }

 .card{
  padding: 0.5rem;
 }

 .card p{
  margin-bottom: 0;
 }
  
.main-container{
  margin: 0 5%;
}
.card p{
  font-size: 12px;
  width: 100%;
}
.my-projects{
  margin-bottom: 2rem;
}
.my-projects2{
  margin-bottom: 5rem;
}
  
}
@media screen and (max-width:420px) {
  .nav-content ul {
    gap: 1rem;
  }
}

@keyframes animate-on-load{

  0%{
    opacity: 0;
    transform: translateX(-20%) ;
   
  }
  100%{
    opacity: 1;
    transform: translateX(0%) 
  }
  
}
@keyframes animate2{

  0%{
    opacity: 0;
    transform: translateX(+20%) ;
   
  }
  100%{
    opacity: 1;
    transform: translateX(0%) 
  }
  
}
@keyframes animate-nav{

  0%{
    transform:translateY(-100px)
  }
  100%{
    transform: rotateX(0);
  }
  
}
